<div class="row header-row">
	<div class="col-10 relative">
		<img src="/images/airbnb-in-logo.png" class="airbnb-in-logo image-small absolute vertical-align-middle" />
	</div>
	<div class="col-2 relative">
		<span class="page uppercase font-gray absolute vertical-align-middle">{{page}}</span>
	</div>
</div>