<!doctype html>
<html>
<head>
    <title>AirBnb Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
</head>
<body>
  <div class="container">

    {{{ body }}}

  </div> <!-- /.container -->
</body>
</html>