<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Airbnb Admin</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/admin.css" />
    <script src="/libs/react.js"></script>
    <script src="/libs/react-dom.js"></script>
    <script src="/libs/browser.min.js"></script>
    <script src="/libs/jquery-2.2.3.min.js"></script>
    <script src="/libs/remarkable.min.js"></script>
    <script type="text/javascript" src="/libs/marked.min.js"></script>
  </head>
  <body>
    <div id="admin"></div>

    <script type="text/babel" src="/scripts/Admin.jsx"></script>

  </body>
</html>