<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <!-- <link rel="stylesheet" href="/css/dashboard.css" /> -->
    <link rel="stylesheet" type="text/css" href="/react-dashboard/bundle.css">
    <script src="/libs/react.js"></script>
    <script src="/libs/react-dom.js"></script>
    <script src="/libs/browser.min.js"></script>
    <script src="/libs/jquery-2.2.3.min.js"></script>
    <script src="/libs/remarkable.min.js"></script>
    <script type="text/javascript" src="/libs/marked.min.js"></script>
  </head>
  <body>
    <div id="app"></div>

    <!-- <script type="text/babel" src="/scripts/Dashboard.jsx"></script> -->
    <script type="text/babel" src="/react-dashboard/bundle.js"></script>
    <script type="text/javascript" src="/scripts/d3.js"></script>
    <script type="text/javascript" src="/scripts/my-d3.js"></script>

  </body>
</html>