<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />

    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/animate.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/libs/nv.d3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="/libs/react.js"></script>
    <script src="/libs/react-dom.js"></script>
    <script src="/libs/browser.min.js"></script>
    <script src="/libs/jquery-2.2.3.min.js"></script>
    
  </head>
  <body>
  
    <!-- REACT DASHBOARD -->
    <div id="dashboard"></div>


    
    <script type="text/javascript" src="/libs/d3.js"></script>
    <script type="text/javascript" src="/libs/nv.d3.min.js"></script>

    <!-- PATH TO BUNDLE CHANGES BASED ON NODE ENVIRONMENT VARIABLE -->
    <script type="text/javascript" src="{{bundle_path}}"></script> 

  </body>
</html>
